.rootContainer {
    padding: 50px;
    height: 100%;
    width: 100%;
    background: rgba(190,200,200,0.2);
}

.SearchContainer {
    max-width: 400px;
    min-width: 250px;
}

.ResultInfo {

}

.ResultInfo .ResultInfo_title {

}